00 - Assignments/Assignment 4/00 - Data
00 - Assignments/Assignment 3/merkur.xlsx
00 - Assignments/Assignment 2/alldata.xlsx
00 - Assignments/Assignment 2/drdata.xlsx
00 - Assignments/Assignment 2/drq.xlsx
00 - Assignments/Assignment 2/electeddata.xlsx
00 - Assignments/Assignment 2/tv2data.xlsx
00 - Assignments/Assignment 2/tv2q.xlsx